<div class="row">
    <div class="col-md-8">
        <h1>Add new Apartment</h1>
        <hr>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" class="form-control" placeholder="title"
                formControlName="title">
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" id="price" class="form-control" placeholder="price"
                formControlName="price">
            </div>

            <div class="form-group">
                <label for="imagePath">Image Path</label>
                <input type="text" id="imagePath" class="form-control" placeholder="image path"
                formControlName="imagePath">
            </div>

            <div class="form-group">
                <label for="link">Link</label>
                <input type="text" id="link" class="form-control" placeholder="link"
                formControlName="link">
            </div>

            <label for="description">Description</label>
            <div class="form-group">
            <textarea rows="5" class="form-control" placeholder="description..."
            formControlName="description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary"
            [disabled]="!myForm.valid">Submit</button>

        </form>
    </div><!--col-->
</div><!--row-->